/**
 * @description Sphere styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 * @note        There is a better way to create an sphere playing with
 *              scene and sphere rotation,
 *              but I would like to experiment a little
 * @link        https://codepen.io/amit_sheen/pen/QWPppKG
 */
.scene__sphere {
  --sphere-radius: 2em;
  --sphere-color: hsl(326, 100%, 62%);
}

.scene__sphere {
  position: relative;
  width: calc(var(--sphere-radius) * 2);
  height: calc(var(--sphere-radius) * 2);
}

.scene__sphere-item {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: var(--sphere-color);
  background-image: linear-gradient(
    to bottom,
    hsl(326, 100%, 62%) 0%,
    hsl(272, 36%, 46%) 50%,
    hsl(205, 64%, 47%) 100%
  );
}

.scene__sphere-item:nth-child(1) {
  transform: rotateY(1deg);
}

.scene__sphere-item:nth-child(2) {
  transform: rotateY(2deg);
}

.scene__sphere-item:nth-child(3) {
  transform: rotateY(3deg);
}

.scene__sphere-item:nth-child(4) {
  transform: rotateY(4deg);
}

.scene__sphere-item:nth-child(5) {
  transform: rotateY(5deg);
}

.scene__sphere-item:nth-child(6) {
  transform: rotateY(6deg);
}

.scene__sphere-item:nth-child(7) {
  transform: rotateY(7deg);
}

.scene__sphere-item:nth-child(8) {
  transform: rotateY(8deg);
}

.scene__sphere-item:nth-child(9) {
  transform: rotateY(9deg);
}

.scene__sphere-item:nth-child(10) {
  transform: rotateY(10deg);
}

.scene__sphere-item:nth-child(11) {
  transform: rotateY(11deg);
}

.scene__sphere-item:nth-child(12) {
  transform: rotateY(12deg);
}

.scene__sphere-item:nth-child(13) {
  transform: rotateY(13deg);
}

.scene__sphere-item:nth-child(14) {
  transform: rotateY(14deg);
}

.scene__sphere-item:nth-child(15) {
  transform: rotateY(15deg);
}

.scene__sphere-item:nth-child(16) {
  transform: rotateY(16deg);
}

.scene__sphere-item:nth-child(17) {
  transform: rotateY(17deg);
}

.scene__sphere-item:nth-child(18) {
  transform: rotateY(18deg);
}

.scene__sphere-item:nth-child(19) {
  transform: rotateY(19deg);
}

.scene__sphere-item:nth-child(20) {
  transform: rotateY(20deg);
}

.scene__sphere-item:nth-child(21) {
  transform: rotateY(21deg);
}

.scene__sphere-item:nth-child(22) {
  transform: rotateY(22deg);
}

.scene__sphere-item:nth-child(23) {
  transform: rotateY(23deg);
}

.scene__sphere-item:nth-child(24) {
  transform: rotateY(24deg);
}

.scene__sphere-item:nth-child(25) {
  transform: rotateY(25deg);
}

.scene__sphere-item:nth-child(26) {
  transform: rotateY(26deg);
}

.scene__sphere-item:nth-child(27) {
  transform: rotateY(27deg);
}

.scene__sphere-item:nth-child(28) {
  transform: rotateY(28deg);
}

.scene__sphere-item:nth-child(29) {
  transform: rotateY(29deg);
}

.scene__sphere-item:nth-child(30) {
  transform: rotateY(30deg);
}

.scene__sphere-item:nth-child(31) {
  transform: rotateY(31deg);
}

.scene__sphere-item:nth-child(32) {
  transform: rotateY(32deg);
}

.scene__sphere-item:nth-child(33) {
  transform: rotateY(33deg);
}

.scene__sphere-item:nth-child(34) {
  transform: rotateY(34deg);
}

.scene__sphere-item:nth-child(35) {
  transform: rotateY(35deg);
}

.scene__sphere-item:nth-child(36) {
  transform: rotateY(36deg);
}

.scene__sphere-item:nth-child(37) {
  transform: rotateY(37deg);
}

.scene__sphere-item:nth-child(38) {
  transform: rotateY(38deg);
}

.scene__sphere-item:nth-child(39) {
  transform: rotateY(39deg);
}

.scene__sphere-item:nth-child(40) {
  transform: rotateY(40deg);
}

.scene__sphere-item:nth-child(41) {
  transform: rotateY(41deg);
}

.scene__sphere-item:nth-child(42) {
  transform: rotateY(42deg);
}

.scene__sphere-item:nth-child(43) {
  transform: rotateY(43deg);
}

.scene__sphere-item:nth-child(44) {
  transform: rotateY(44deg);
}

.scene__sphere-item:nth-child(45) {
  transform: rotateY(45deg);
}
