/**
 * @description Sphere styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 * @note        There is a better way to create an sphere playing with
 *              scene and sphere rotation,
 *              but this was a great transformation practice
 * @link        https://codepen.io/amit_sheen/pen/QWPppKG
 */
.scene__sphere {
  --sphere-radius: 2em;
}

.scene__sphere {
  position: relative;
  width: calc(var(--sphere-radius) * 2);
  height: calc(var(--sphere-radius) * 2);
  animation: rotateSphere 10s infinite alternate ease-in-out;
}

@keyframes rotateSphere {
  from {
    transform: rotateZ(0deg) rotateY(125deg) translateZ(0);
  }
  to {
    transform: rotateZ(360deg) rotateY(230deg) translateZ(10em);
  }
}

.scene__sphere-item {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-image: linear-gradient(to top, #555 20%, var(--secondary-color));
  opacity: 0.6;
}

.scene__sphere-item:nth-child(1) {
  transform: rotateY(1deg);
}

.scene__sphere-item:nth-child(2) {
  transform: rotateY(2deg);
}

.scene__sphere-item:nth-child(3) {
  transform: rotateY(3deg);
}

.scene__sphere-item:nth-child(4) {
  transform: rotateY(4deg);
}

.scene__sphere-item:nth-child(5) {
  transform: rotateY(5deg);
}

.scene__sphere-item:nth-child(6) {
  transform: rotateY(6deg);
}

.scene__sphere-item:nth-child(7) {
  transform: rotateY(7deg);
}

.scene__sphere-item:nth-child(8) {
  transform: rotateY(8deg);
}

.scene__sphere-item:nth-child(9) {
  transform: rotateY(9deg);
}

.scene__sphere-item:nth-child(10) {
  transform: rotateY(10deg);
}

.scene__sphere-item:nth-child(11) {
  transform: rotateY(11deg);
}

.scene__sphere-item:nth-child(12) {
  transform: rotateY(12deg);
}

.scene__sphere-item:nth-child(13) {
  transform: rotateY(13deg);
}

.scene__sphere-item:nth-child(14) {
  transform: rotateY(14deg);
}

.scene__sphere-item:nth-child(15) {
  transform: rotateY(15deg);
}

.scene__sphere-item:nth-child(16) {
  transform: rotateY(16deg);
}

.scene__sphere-item:nth-child(17) {
  transform: rotateY(17deg);
}

.scene__sphere-item:nth-child(18) {
  transform: rotateY(18deg);
}

.scene__sphere-item:nth-child(19) {
  transform: rotateY(19deg);
}

.scene__sphere-item:nth-child(20) {
  transform: rotateY(20deg);
}

.scene__sphere-item:nth-child(21) {
  transform: rotateY(21deg);
}

.scene__sphere-item:nth-child(22) {
  transform: rotateY(22deg);
}

.scene__sphere-item:nth-child(23) {
  transform: rotateY(23deg);
}

.scene__sphere-item:nth-child(24) {
  transform: rotateY(24deg);
}

.scene__sphere-item:nth-child(25) {
  transform: rotateY(25deg);
}

.scene__sphere-item:nth-child(26) {
  transform: rotateY(26deg);
}

.scene__sphere-item:nth-child(27) {
  transform: rotateY(27deg);
}

.scene__sphere-item:nth-child(28) {
  transform: rotateY(28deg);
}

.scene__sphere-item:nth-child(29) {
  transform: rotateY(29deg);
}

.scene__sphere-item:nth-child(30) {
  transform: rotateY(30deg);
}

.scene__sphere-item:nth-child(31) {
  transform: rotateY(31deg);
}

.scene__sphere-item:nth-child(32) {
  transform: rotateY(32deg);
}

.scene__sphere-item:nth-child(33) {
  transform: rotateY(33deg);
}

.scene__sphere-item:nth-child(34) {
  transform: rotateY(34deg);
}

.scene__sphere-item:nth-child(35) {
  transform: rotateY(35deg);
}

.scene__sphere-item:nth-child(36) {
  transform: rotateY(36deg);
}

.scene__sphere-item:nth-child(37) {
  transform: rotateY(37deg);
}

.scene__sphere-item:nth-child(38) {
  transform: rotateY(38deg);
}

.scene__sphere-item:nth-child(39) {
  transform: rotateY(39deg);
}

.scene__sphere-item:nth-child(40) {
  transform: rotateY(40deg);
}

.scene__sphere-item:nth-child(41) {
  transform: rotateY(41deg);
}

.scene__sphere-item:nth-child(42) {
  transform: rotateY(42deg);
}

.scene__sphere-item:nth-child(43) {
  transform: rotateY(43deg);
}

.scene__sphere-item:nth-child(44) {
  transform: rotateY(44deg);
}

.scene__sphere-item:nth-child(45) {
  transform: rotateY(45deg);
}

.scene__sphere-item:nth-child(46) {
  transform: rotateY(46deg);
}

.scene__sphere-item:nth-child(47) {
  transform: rotateY(47deg);
}

.scene__sphere-item:nth-child(48) {
  transform: rotateY(48deg);
}

.scene__sphere-item:nth-child(49) {
  transform: rotateY(49deg);
}

.scene__sphere-item:nth-child(50) {
  transform: rotateY(50deg);
}

.scene__sphere-item:nth-child(51) {
  transform: rotateY(51deg);
}

.scene__sphere-item:nth-child(52) {
  transform: rotateY(52deg);
}

.scene__sphere-item:nth-child(53) {
  transform: rotateY(53deg);
}

.scene__sphere-item:nth-child(54) {
  transform: rotateY(54deg);
}

.scene__sphere-item:nth-child(55) {
  transform: rotateY(55deg);
}

.scene__sphere-item:nth-child(56) {
  transform: rotateY(56deg);
}

.scene__sphere-item:nth-child(57) {
  transform: rotateY(57deg);
}

.scene__sphere-item:nth-child(58) {
  transform: rotateY(58deg);
}

.scene__sphere-item:nth-child(59) {
  transform: rotateY(59deg);
}

.scene__sphere-item:nth-child(60) {
  transform: rotateY(60deg);
}

.scene__sphere-item:nth-child(61) {
  transform: rotateY(61deg);
}

.scene__sphere-item:nth-child(62) {
  transform: rotateY(62deg);
}

.scene__sphere-item:nth-child(63) {
  transform: rotateY(63deg);
}

.scene__sphere-item:nth-child(64) {
  transform: rotateY(64deg);
}

.scene__sphere-item:nth-child(65) {
  transform: rotateY(65deg);
}

.scene__sphere-item:nth-child(66) {
  transform: rotateY(66deg);
}

.scene__sphere-item:nth-child(67) {
  transform: rotateY(67deg);
}

.scene__sphere-item:nth-child(68) {
  transform: rotateY(68deg);
}

.scene__sphere-item:nth-child(69) {
  transform: rotateY(69deg);
}

.scene__sphere-item:nth-child(70) {
  transform: rotateY(70deg);
}

.scene__sphere-item:nth-child(71) {
  transform: rotateY(71deg);
}

.scene__sphere-item:nth-child(72) {
  transform: rotateY(72deg);
}

.scene__sphere-item:nth-child(73) {
  transform: rotateY(73deg);
}

.scene__sphere-item:nth-child(74) {
  transform: rotateY(74deg);
}

.scene__sphere-item:nth-child(75) {
  transform: rotateY(75deg);
}

.scene__sphere-item:nth-child(76) {
  transform: rotateY(76deg);
}

.scene__sphere-item:nth-child(77) {
  transform: rotateY(77deg);
}

.scene__sphere-item:nth-child(78) {
  transform: rotateY(78deg);
}

.scene__sphere-item:nth-child(79) {
  transform: rotateY(79deg);
}

.scene__sphere-item:nth-child(80) {
  transform: rotateY(80deg);
}

.scene__sphere-item:nth-child(81) {
  transform: rotateY(81deg);
}

.scene__sphere-item:nth-child(82) {
  transform: rotateY(82deg);
}

.scene__sphere-item:nth-child(83) {
  transform: rotateY(83deg);
}

.scene__sphere-item:nth-child(84) {
  transform: rotateY(84deg);
}

.scene__sphere-item:nth-child(85) {
  transform: rotateY(85deg);
}

.scene__sphere-item:nth-child(86) {
  transform: rotateY(86deg);
}

.scene__sphere-item:nth-child(87) {
  transform: rotateY(87deg);
}

.scene__sphere-item:nth-child(88) {
  transform: rotateY(88deg);
}

.scene__sphere-item:nth-child(89) {
  transform: rotateY(89deg);
}

.scene__sphere-item:nth-child(90) {
  transform: rotateY(90deg);
}

.scene__sphere-item:nth-child(91) {
  transform: rotateY(91deg);
}

.scene__sphere-item:nth-child(92) {
  transform: rotateY(92deg);
}

.scene__sphere-item:nth-child(93) {
  transform: rotateY(93deg);
}

.scene__sphere-item:nth-child(94) {
  transform: rotateY(94deg);
}

.scene__sphere-item:nth-child(95) {
  transform: rotateY(95deg);
}

.scene__sphere-item:nth-child(96) {
  transform: rotateY(96deg);
}

.scene__sphere-item:nth-child(97) {
  transform: rotateY(97deg);
}

.scene__sphere-item:nth-child(98) {
  transform: rotateY(98deg);
}

.scene__sphere-item:nth-child(99) {
  transform: rotateY(99deg);
}

.scene__sphere-item:nth-child(100) {
  transform: rotateY(100deg);
}

.scene__sphere-item:nth-child(101) {
  transform: rotateY(101deg);
}

.scene__sphere-item:nth-child(102) {
  transform: rotateY(102deg);
}

.scene__sphere-item:nth-child(103) {
  transform: rotateY(103deg);
}

.scene__sphere-item:nth-child(104) {
  transform: rotateY(104deg);
}

.scene__sphere-item:nth-child(105) {
  transform: rotateY(105deg);
}

.scene__sphere-item:nth-child(106) {
  transform: rotateY(106deg);
}

.scene__sphere-item:nth-child(107) {
  transform: rotateY(107deg);
}

.scene__sphere-item:nth-child(108) {
  transform: rotateY(108deg);
}

.scene__sphere-item:nth-child(109) {
  transform: rotateY(109deg);
}

.scene__sphere-item:nth-child(110) {
  transform: rotateY(110deg);
}

.scene__sphere-item:nth-child(111) {
  transform: rotateY(111deg);
}

.scene__sphere-item:nth-child(112) {
  transform: rotateY(112deg);
}

.scene__sphere-item:nth-child(113) {
  transform: rotateY(113deg);
}

.scene__sphere-item:nth-child(114) {
  transform: rotateY(114deg);
}

.scene__sphere-item:nth-child(115) {
  transform: rotateY(115deg);
}

.scene__sphere-item:nth-child(116) {
  transform: rotateY(116deg);
}

.scene__sphere-item:nth-child(117) {
  transform: rotateY(117deg);
}

.scene__sphere-item:nth-child(118) {
  transform: rotateY(118deg);
}

.scene__sphere-item:nth-child(119) {
  transform: rotateY(119deg);
}

.scene__sphere-item:nth-child(120) {
  transform: rotateY(120deg);
}

.scene__sphere-item:nth-child(121) {
  transform: rotateY(121deg);
}

.scene__sphere-item:nth-child(122) {
  transform: rotateY(122deg);
}

.scene__sphere-item:nth-child(123) {
  transform: rotateY(123deg);
}

.scene__sphere-item:nth-child(124) {
  transform: rotateY(124deg);
}

.scene__sphere-item:nth-child(125) {
  transform: rotateY(125deg);
}

.scene__sphere-item:nth-child(126) {
  transform: rotateY(126deg);
}

.scene__sphere-item:nth-child(127) {
  transform: rotateY(127deg);
}

.scene__sphere-item:nth-child(128) {
  transform: rotateY(128deg);
}

.scene__sphere-item:nth-child(129) {
  transform: rotateY(129deg);
}

.scene__sphere-item:nth-child(130) {
  transform: rotateY(130deg);
}

.scene__sphere-item:nth-child(131) {
  transform: rotateY(131deg);
}

.scene__sphere-item:nth-child(132) {
  transform: rotateY(132deg);
}

.scene__sphere-item:nth-child(133) {
  transform: rotateY(133deg);
}

.scene__sphere-item:nth-child(134) {
  transform: rotateY(134deg);
}

.scene__sphere-item:nth-child(135) {
  transform: rotateY(135deg);
}

.scene__sphere-item:nth-child(136) {
  transform: rotateY(136deg);
}

.scene__sphere-item:nth-child(137) {
  transform: rotateY(137deg);
}

.scene__sphere-item:nth-child(138) {
  transform: rotateY(138deg);
}

.scene__sphere-item:nth-child(139) {
  transform: rotateY(139deg);
}

.scene__sphere-item:nth-child(140) {
  transform: rotateY(140deg);
}

.scene__sphere-item:nth-child(141) {
  transform: rotateY(141deg);
}

.scene__sphere-item:nth-child(142) {
  transform: rotateY(142deg);
}

.scene__sphere-item:nth-child(143) {
  transform: rotateY(143deg);
}

.scene__sphere-item:nth-child(144) {
  transform: rotateY(144deg);
}

.scene__sphere-item:nth-child(145) {
  transform: rotateY(145deg);
}

.scene__sphere-item:nth-child(146) {
  transform: rotateY(146deg);
}

.scene__sphere-item:nth-child(147) {
  transform: rotateY(147deg);
}

.scene__sphere-item:nth-child(148) {
  transform: rotateY(148deg);
}

.scene__sphere-item:nth-child(149) {
  transform: rotateY(149deg);
}

.scene__sphere-item:nth-child(150) {
  transform: rotateY(150deg);
}

.scene__sphere-item:nth-child(151) {
  transform: rotateY(151deg);
}

.scene__sphere-item:nth-child(152) {
  transform: rotateY(152deg);
}

.scene__sphere-item:nth-child(153) {
  transform: rotateY(153deg);
}

.scene__sphere-item:nth-child(154) {
  transform: rotateY(154deg);
}

.scene__sphere-item:nth-child(155) {
  transform: rotateY(155deg);
}

.scene__sphere-item:nth-child(156) {
  transform: rotateY(156deg);
}

.scene__sphere-item:nth-child(157) {
  transform: rotateY(157deg);
}

.scene__sphere-item:nth-child(158) {
  transform: rotateY(158deg);
}

.scene__sphere-item:nth-child(159) {
  transform: rotateY(159deg);
}

.scene__sphere-item:nth-child(160) {
  transform: rotateY(160deg);
}

.scene__sphere-item:nth-child(161) {
  transform: rotateY(161deg);
}

.scene__sphere-item:nth-child(162) {
  transform: rotateY(162deg);
}

.scene__sphere-item:nth-child(163) {
  transform: rotateY(163deg);
}

.scene__sphere-item:nth-child(164) {
  transform: rotateY(164deg);
}

.scene__sphere-item:nth-child(165) {
  transform: rotateY(165deg);
}

.scene__sphere-item:nth-child(166) {
  transform: rotateY(166deg);
}

.scene__sphere-item:nth-child(167) {
  transform: rotateY(167deg);
}

.scene__sphere-item:nth-child(168) {
  transform: rotateY(168deg);
}

.scene__sphere-item:nth-child(169) {
  transform: rotateY(169deg);
}

.scene__sphere-item:nth-child(170) {
  transform: rotateY(170deg);
}

.scene__sphere-item:nth-child(171) {
  transform: rotateY(171deg);
}

.scene__sphere-item:nth-child(172) {
  transform: rotateY(172deg);
}

.scene__sphere-item:nth-child(173) {
  transform: rotateY(173deg);
}

.scene__sphere-item:nth-child(174) {
  transform: rotateY(174deg);
}

.scene__sphere-item:nth-child(175) {
  transform: rotateY(175deg);
}

.scene__sphere-item:nth-child(176) {
  transform: rotateY(176deg);
}

.scene__sphere-item:nth-child(177) {
  transform: rotateY(177deg);
}

.scene__sphere-item:nth-child(178) {
  transform: rotateY(178deg);
}

.scene__sphere-item:nth-child(179) {
  transform: rotateY(179deg);
}

.scene__sphere-item:nth-child(180) {
  transform: rotateY(180deg);
}

.scene__sphere-item:nth-child(181) {
  transform: rotateY(181deg);
}

.scene__sphere-item:nth-child(182) {
  transform: rotateY(182deg);
}

.scene__sphere-item:nth-child(183) {
  transform: rotateY(183deg);
}

.scene__sphere-item:nth-child(184) {
  transform: rotateY(184deg);
}

.scene__sphere-item:nth-child(185) {
  transform: rotateY(185deg);
}

.scene__sphere-item:nth-child(186) {
  transform: rotateY(186deg);
}

.scene__sphere-item:nth-child(187) {
  transform: rotateY(187deg);
}

.scene__sphere-item:nth-child(188) {
  transform: rotateY(188deg);
}

.scene__sphere-item:nth-child(189) {
  transform: rotateY(189deg);
}

.scene__sphere-item:nth-child(190) {
  transform: rotateY(190deg);
}

.scene__sphere-item:nth-child(191) {
  transform: rotateY(191deg);
}

.scene__sphere-item:nth-child(192) {
  transform: rotateY(192deg);
}

.scene__sphere-item:nth-child(193) {
  transform: rotateY(193deg);
}

.scene__sphere-item:nth-child(194) {
  transform: rotateY(194deg);
}

.scene__sphere-item:nth-child(195) {
  transform: rotateY(195deg);
}

.scene__sphere-item:nth-child(196) {
  transform: rotateY(196deg);
}

.scene__sphere-item:nth-child(197) {
  transform: rotateY(197deg);
}

.scene__sphere-item:nth-child(198) {
  transform: rotateY(198deg);
}

.scene__sphere-item:nth-child(199) {
  transform: rotateY(199deg);
}

.scene__sphere-item:nth-child(200) {
  transform: rotateY(200deg);
}

.scene__sphere-item:nth-child(201) {
  transform: rotateY(201deg);
}

.scene__sphere-item:nth-child(202) {
  transform: rotateY(202deg);
}

.scene__sphere-item:nth-child(203) {
  transform: rotateY(203deg);
}

.scene__sphere-item:nth-child(204) {
  transform: rotateY(204deg);
}

.scene__sphere-item:nth-child(205) {
  transform: rotateY(205deg);
}

.scene__sphere-item:nth-child(206) {
  transform: rotateY(206deg);
}

.scene__sphere-item:nth-child(207) {
  transform: rotateY(207deg);
}

.scene__sphere-item:nth-child(208) {
  transform: rotateY(208deg);
}

.scene__sphere-item:nth-child(209) {
  transform: rotateY(209deg);
}

.scene__sphere-item:nth-child(210) {
  transform: rotateY(210deg);
}

.scene__sphere-item:nth-child(211) {
  transform: rotateY(211deg);
}

.scene__sphere-item:nth-child(212) {
  transform: rotateY(212deg);
}

.scene__sphere-item:nth-child(213) {
  transform: rotateY(213deg);
}

.scene__sphere-item:nth-child(214) {
  transform: rotateY(214deg);
}

.scene__sphere-item:nth-child(215) {
  transform: rotateY(215deg);
}

.scene__sphere-item:nth-child(216) {
  transform: rotateY(216deg);
}

.scene__sphere-item:nth-child(217) {
  transform: rotateY(217deg);
}

.scene__sphere-item:nth-child(218) {
  transform: rotateY(218deg);
}

.scene__sphere-item:nth-child(219) {
  transform: rotateY(219deg);
}

.scene__sphere-item:nth-child(220) {
  transform: rotateY(220deg);
}

.scene__sphere-item:nth-child(221) {
  transform: rotateY(221deg);
}

.scene__sphere-item:nth-child(222) {
  transform: rotateY(222deg);
}

.scene__sphere-item:nth-child(223) {
  transform: rotateY(223deg);
}

.scene__sphere-item:nth-child(224) {
  transform: rotateY(224deg);
}

.scene__sphere-item:nth-child(225) {
  transform: rotateY(225deg);
}

.scene__sphere-item:nth-child(226) {
  transform: rotateY(226deg);
}

.scene__sphere-item:nth-child(227) {
  transform: rotateY(227deg);
}

.scene__sphere-item:nth-child(228) {
  transform: rotateY(228deg);
}

.scene__sphere-item:nth-child(229) {
  transform: rotateY(229deg);
}

.scene__sphere-item:nth-child(230) {
  transform: rotateY(230deg);
}

.scene__sphere-item:nth-child(231) {
  transform: rotateY(231deg);
}

.scene__sphere-item:nth-child(232) {
  transform: rotateY(232deg);
}

.scene__sphere-item:nth-child(233) {
  transform: rotateY(233deg);
}

.scene__sphere-item:nth-child(234) {
  transform: rotateY(234deg);
}

.scene__sphere-item:nth-child(235) {
  transform: rotateY(235deg);
}

.scene__sphere-item:nth-child(236) {
  transform: rotateY(236deg);
}

.scene__sphere-item:nth-child(237) {
  transform: rotateY(237deg);
}

.scene__sphere-item:nth-child(238) {
  transform: rotateY(238deg);
}

.scene__sphere-item:nth-child(239) {
  transform: rotateY(239deg);
}

.scene__sphere-item:nth-child(240) {
  transform: rotateY(240deg);
}

.scene__sphere-item:nth-child(241) {
  transform: rotateY(241deg);
}

.scene__sphere-item:nth-child(242) {
  transform: rotateY(242deg);
}

.scene__sphere-item:nth-child(243) {
  transform: rotateY(243deg);
}

.scene__sphere-item:nth-child(244) {
  transform: rotateY(244deg);
}

.scene__sphere-item:nth-child(245) {
  transform: rotateY(245deg);
}

.scene__sphere-item:nth-child(246) {
  transform: rotateY(246deg);
}

.scene__sphere-item:nth-child(247) {
  transform: rotateY(247deg);
}

.scene__sphere-item:nth-child(248) {
  transform: rotateY(248deg);
}

.scene__sphere-item:nth-child(249) {
  transform: rotateY(249deg);
}

.scene__sphere-item:nth-child(250) {
  transform: rotateY(250deg);
}

.scene__sphere-item:nth-child(251) {
  transform: rotateY(251deg);
}

.scene__sphere-item:nth-child(252) {
  transform: rotateY(252deg);
}

.scene__sphere-item:nth-child(253) {
  transform: rotateY(253deg);
}

.scene__sphere-item:nth-child(254) {
  transform: rotateY(254deg);
}

.scene__sphere-item:nth-child(255) {
  transform: rotateY(255deg);
}

.scene__sphere-item:nth-child(256) {
  transform: rotateY(256deg);
}

.scene__sphere-item:nth-child(257) {
  transform: rotateY(257deg);
}

.scene__sphere-item:nth-child(258) {
  transform: rotateY(258deg);
}

.scene__sphere-item:nth-child(259) {
  transform: rotateY(259deg);
}

.scene__sphere-item:nth-child(260) {
  transform: rotateY(260deg);
}

.scene__sphere-item:nth-child(261) {
  transform: rotateY(261deg);
}

.scene__sphere-item:nth-child(262) {
  transform: rotateY(262deg);
}

.scene__sphere-item:nth-child(263) {
  transform: rotateY(263deg);
}

.scene__sphere-item:nth-child(264) {
  transform: rotateY(264deg);
}

.scene__sphere-item:nth-child(265) {
  transform: rotateY(265deg);
}

.scene__sphere-item:nth-child(266) {
  transform: rotateY(266deg);
}

.scene__sphere-item:nth-child(267) {
  transform: rotateY(267deg);
}

.scene__sphere-item:nth-child(268) {
  transform: rotateY(268deg);
}

.scene__sphere-item:nth-child(269) {
  transform: rotateY(269deg);
}

.scene__sphere-item:nth-child(270) {
  transform: rotateY(270deg);
}

.scene__sphere-item:nth-child(271) {
  transform: rotateY(271deg);
}

.scene__sphere-item:nth-child(272) {
  transform: rotateY(272deg);
}

.scene__sphere-item:nth-child(273) {
  transform: rotateY(273deg);
}

.scene__sphere-item:nth-child(274) {
  transform: rotateY(274deg);
}

.scene__sphere-item:nth-child(275) {
  transform: rotateY(275deg);
}

.scene__sphere-item:nth-child(276) {
  transform: rotateY(276deg);
}

.scene__sphere-item:nth-child(277) {
  transform: rotateY(277deg);
}

.scene__sphere-item:nth-child(278) {
  transform: rotateY(278deg);
}

.scene__sphere-item:nth-child(279) {
  transform: rotateY(279deg);
}

.scene__sphere-item:nth-child(280) {
  transform: rotateY(280deg);
}

.scene__sphere-item:nth-child(281) {
  transform: rotateY(281deg);
}

.scene__sphere-item:nth-child(282) {
  transform: rotateY(282deg);
}

.scene__sphere-item:nth-child(283) {
  transform: rotateY(283deg);
}

.scene__sphere-item:nth-child(284) {
  transform: rotateY(284deg);
}

.scene__sphere-item:nth-child(285) {
  transform: rotateY(285deg);
}

.scene__sphere-item:nth-child(286) {
  transform: rotateY(286deg);
}

.scene__sphere-item:nth-child(287) {
  transform: rotateY(287deg);
}

.scene__sphere-item:nth-child(288) {
  transform: rotateY(288deg);
}

.scene__sphere-item:nth-child(289) {
  transform: rotateY(289deg);
}

.scene__sphere-item:nth-child(290) {
  transform: rotateY(290deg);
}

.scene__sphere-item:nth-child(291) {
  transform: rotateY(291deg);
}

.scene__sphere-item:nth-child(292) {
  transform: rotateY(292deg);
}

.scene__sphere-item:nth-child(293) {
  transform: rotateY(293deg);
}

.scene__sphere-item:nth-child(294) {
  transform: rotateY(294deg);
}

.scene__sphere-item:nth-child(295) {
  transform: rotateY(295deg);
}

.scene__sphere-item:nth-child(296) {
  transform: rotateY(296deg);
}

.scene__sphere-item:nth-child(297) {
  transform: rotateY(297deg);
}

.scene__sphere-item:nth-child(298) {
  transform: rotateY(298deg);
}

.scene__sphere-item:nth-child(299) {
  transform: rotateY(299deg);
}

.scene__sphere-item:nth-child(300) {
  transform: rotateY(300deg);
}

.scene__sphere-item:nth-child(301) {
  transform: rotateY(301deg);
}

.scene__sphere-item:nth-child(302) {
  transform: rotateY(302deg);
}

.scene__sphere-item:nth-child(303) {
  transform: rotateY(303deg);
}

.scene__sphere-item:nth-child(304) {
  transform: rotateY(304deg);
}

.scene__sphere-item:nth-child(305) {
  transform: rotateY(305deg);
}

.scene__sphere-item:nth-child(306) {
  transform: rotateY(306deg);
}

.scene__sphere-item:nth-child(307) {
  transform: rotateY(307deg);
}

.scene__sphere-item:nth-child(308) {
  transform: rotateY(308deg);
}

.scene__sphere-item:nth-child(309) {
  transform: rotateY(309deg);
}

.scene__sphere-item:nth-child(310) {
  transform: rotateY(310deg);
}

.scene__sphere-item:nth-child(311) {
  transform: rotateY(311deg);
}

.scene__sphere-item:nth-child(312) {
  transform: rotateY(312deg);
}

.scene__sphere-item:nth-child(313) {
  transform: rotateY(313deg);
}

.scene__sphere-item:nth-child(314) {
  transform: rotateY(314deg);
}

.scene__sphere-item:nth-child(315) {
  transform: rotateY(315deg);
}

.scene__sphere-item:nth-child(316) {
  transform: rotateY(316deg);
}

.scene__sphere-item:nth-child(317) {
  transform: rotateY(317deg);
}

.scene__sphere-item:nth-child(318) {
  transform: rotateY(318deg);
}

.scene__sphere-item:nth-child(319) {
  transform: rotateY(319deg);
}

.scene__sphere-item:nth-child(320) {
  transform: rotateY(320deg);
}

.scene__sphere-item:nth-child(321) {
  transform: rotateY(321deg);
}

.scene__sphere-item:nth-child(322) {
  transform: rotateY(322deg);
}

.scene__sphere-item:nth-child(323) {
  transform: rotateY(323deg);
}

.scene__sphere-item:nth-child(324) {
  transform: rotateY(324deg);
}

.scene__sphere-item:nth-child(325) {
  transform: rotateY(325deg);
}

.scene__sphere-item:nth-child(326) {
  transform: rotateY(326deg);
}

.scene__sphere-item:nth-child(327) {
  transform: rotateY(327deg);
}

.scene__sphere-item:nth-child(328) {
  transform: rotateY(328deg);
}

.scene__sphere-item:nth-child(329) {
  transform: rotateY(329deg);
}

.scene__sphere-item:nth-child(330) {
  transform: rotateY(330deg);
}

.scene__sphere-item:nth-child(331) {
  transform: rotateY(331deg);
}

.scene__sphere-item:nth-child(332) {
  transform: rotateY(332deg);
}

.scene__sphere-item:nth-child(333) {
  transform: rotateY(333deg);
}

.scene__sphere-item:nth-child(334) {
  transform: rotateY(334deg);
}

.scene__sphere-item:nth-child(335) {
  transform: rotateY(335deg);
}

.scene__sphere-item:nth-child(336) {
  transform: rotateY(336deg);
}

.scene__sphere-item:nth-child(337) {
  transform: rotateY(337deg);
}

.scene__sphere-item:nth-child(338) {
  transform: rotateY(338deg);
}

.scene__sphere-item:nth-child(339) {
  transform: rotateY(339deg);
}

.scene__sphere-item:nth-child(340) {
  transform: rotateY(340deg);
}

.scene__sphere-item:nth-child(341) {
  transform: rotateY(341deg);
}

.scene__sphere-item:nth-child(342) {
  transform: rotateY(342deg);
}

.scene__sphere-item:nth-child(343) {
  transform: rotateY(343deg);
}

.scene__sphere-item:nth-child(344) {
  transform: rotateY(344deg);
}

.scene__sphere-item:nth-child(345) {
  transform: rotateY(345deg);
}

.scene__sphere-item:nth-child(346) {
  transform: rotateY(346deg);
}

.scene__sphere-item:nth-child(347) {
  transform: rotateY(347deg);
}

.scene__sphere-item:nth-child(348) {
  transform: rotateY(348deg);
}

.scene__sphere-item:nth-child(349) {
  transform: rotateY(349deg);
}

.scene__sphere-item:nth-child(350) {
  transform: rotateY(350deg);
}

.scene__sphere-item:nth-child(351) {
  transform: rotateY(351deg);
}

.scene__sphere-item:nth-child(352) {
  transform: rotateY(352deg);
}

.scene__sphere-item:nth-child(353) {
  transform: rotateY(353deg);
}

.scene__sphere-item:nth-child(354) {
  transform: rotateY(354deg);
}

.scene__sphere-item:nth-child(355) {
  transform: rotateY(355deg);
}

.scene__sphere-item:nth-child(356) {
  transform: rotateY(356deg);
}

.scene__sphere-item:nth-child(357) {
  transform: rotateY(357deg);
}

.scene__sphere-item:nth-child(358) {
  transform: rotateY(358deg);
}

.scene__sphere-item:nth-child(359) {
  transform: rotateY(359deg);
}

.scene__sphere-item:nth-child(360) {
  transform: rotateY(360deg);
}
